body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
}

.progress-bar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: #673c66;
  background: -webkit-linear-gradient(0deg, #673c66 0%, #57b2db 100%);
  background: linear-gradient(0deg, #673c66 0%, #57b2db 100%);
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#progress-bar {
  max-width: 400px;
  width: 30vw;
  height: 2em;
  margin-top: 1em;
}

.drag {
  color: white;
  font-family: Rubik-Distressed-regular;
  font-size: 1.5rem;
}

/* progress */
.lds-ellipsis {
  display: flex;
  align-items: center;
  justify-content: center;
}
.lds-ellipsis div {
  display: flex;
  flex-direction: row;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  margin-left: 0.5em;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  margin-left: 0.5em;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  margin-left: 0.5em;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

/* progress */
label {
  color: white;
  font-size: 4rem;
}

#start-btn {
  color: white;
  background-color: #242424;
  visibility: hidden;
  font-size: 3.125em;
  border-radius: 10px;
  padding: 0.1em 0.7em;
  border: none;
  cursor: pointer;
}

#start-btn:hover {
  background-color: #58aad3;
}

.li:hover {
  background-color: orange;
}

#info {
  position: absolute;
  top: 10px;
  width: 100%;
  z-index: 100;
  visibility: hidden;
}

.navbar--ul {
  position: absolute;
  right: 70;
  display: flex;

  list-style: none;
  text-decoration: none;
  gap: 3rem;
  cursor: pointer;
}

.navbar--ul li a {
  text-decoration: none;
  font-size: 24px;
  color: white;
  font-family: "Karla";
  font-style: normal;
  font-weight: 800;
  line-height: 40px;
  letter-spacing: -0.025em;
}

.navbar--li a:hover {
  color: #018cdd;
}

#myimg {
  margin-top: 50px;
  margin-left: 40px;
  width: 250px;
  height: 300px;
  border-radius: 7px;
}

.cvdiv {
  display: flex;
  width: 915px;
  height: 430px;
  background-image: -webkit-linear-gradient(
    bottom,
    #fff 0%,
    rgba(113, 68, 16, 0.5) 99%,
    rgba(105, 90, 166, 0.5) 100%
  );
  background-image: linear-gradient(
    to top,
    #fff 0%,
    rgba(30, 12, 8, 0.5) 99%,
    rgba(105, 90, 166, 0.5) 100%
  );
}

#about--p {
  width: 510px;
  position: absolute;
  /* Rubik-Distressed-regular */
  font-family: Rubik-Distressed-regular;
  font-size: 25px;
  margin-left: 300px;
  margin-top: 150px;

  color: white;
  left: 40px;
}

#home-header {
  position: absolute;
  font-family: Rubik-Distressed-regular;
  font-size: 45px;
  font-weight: bold;
  margin-left: 300px;
  margin-top: 35px;

  color: white;
  left: 40px;
}

#home-header2 {
  position: absolute;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 40px;
  margin-left: 355px;
  margin-top: 90px;

  color: white;
  left: 40px;
}

#home-header:hover {
  color: aqua;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

.fa-linkedin {
  position: absolute;
  margin-left: 330px;
  margin-top: 350px;
  background: #007bb5;
  color: white;
}

.fa-github {
  position: absolute;
  margin-left: 420px;
  margin-top: 350px;
  background: #007bb5;
  color: white;
}

#mailText {
  position: absolute;
  margin-left: 510px;
  margin-top: 365px;
  color: #007bb5;
  font-family: Rubik-Distressed-regular;
  font-size: 25px;
}

/* projects part */

.div3 {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 20px;
  width: 870px;
  height: 410px;
  background: #cac7c2;
  background: -webkit-linear-gradient(0deg, #cac7c2 0%, #916a32 100%);
  background: linear-gradient(0deg, #cac7c2 0%, #916a32 100%);
}

.map-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

.div3 h3 {
  text-align: center;
  color: black;
  font-family: Rubik-Distressed-regular;
  font-size: 23px;
}

.project--img--div {
  width: 150px;
  height: 200px;
  background-color: white;
  border-radius: 5px;
  cursor: pointer;
}

.project--img {
  width: 150px;
  height: 200px;
  border-radius: 5px;
}

.project--img:hover {
  border-radius: 5px;
  opacity: 80%;
}

.project--github {
  color: black;
  margin-left: 120px;
  margin-top: 45px;
  font-family: Rubik-Distressed-regular;
  font-size: 25px;
  width: 200px;
  height: 50px;
  text-decoration: none;
  font-weight: bold;
}

.project--github:hover {
  color: green;
}

/* project-info */

.project--info--div {
  width: 870px;
  height: 410px;
  background: #cac7c2;
  background: -webkit-linear-gradient(0deg, #cac7c2 0%, #916a32 100%);
  background: linear-gradient(0deg, #cac7c2 0%, #916a32 100%);
}

.project--div2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.back--btn {
  margin: 10px;
  cursor: pointer;
  border-radius: 5px;
  width: 60px;
  height: 30px;
  font-size: 20px;
}

.project--img2 {
  border-radius: 5px;
  width: 300px;
  height: 200px;
  margin-left: 30px;
}

.project--img2:hover {
  opacity: 95%;
}

.project--p2 {
  margin-left: 110px;
  color: white;
  font-family: Rubik-Distressed-regular;
  font-size: 30px;
}

.project--inf {
  margin-top: -170px;
  margin-left: 350px;
  font-family: Rubik-Distressed-regular;
  width: 500px;
  height: 100px;
  font-size: 30px;
}
